@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    line-height: 1.4;

    background: #fff;

    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

img {
    max-width: 100%;
    width: 650px;
}

input {
    width: 400px;
    border-radius: 12px;
    border: 2px solid #ddd;
    padding: 0.3rem 0.5rem;
}

button {
    border-radius: 8px;
    font-size: inherit;
    border: 2px solid #ccc;
}

.left-links,
.right-links {
    list-style-type: none;
}

ul a {
    text-decoration: none;
    color: currentColor;
}