@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    line-height: 1.4;

    background: #fff;

    display: flex;
    flex-direction: column;
}